:root {
    --color-chall: #e57373;
    --color-chall-dark: #af4448;

    --color-coup: #fff9c4;
    --color-coup-dark: #cbc693;

    --color-nice: #c5e1a5;
    --color-nice-dark: #94af76;
    --color-null: #a5d0e1;
    --card-font-size: min(4vmax, 100px);
    --legenda-opacity: 10%;

}
body {
    background-color: #dddddd;
    overflow: hidden;
}
@keyframes fall-in{
    0% {
        top: -200vh;
    }
    80% {
        top: 0vh;
    }
    90%{
        top: -1vh;
    }
    100%{
        top: 0vh
    }
}
@keyframes flyout {
    0% {
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        z-index: 100;
    }
    15%{
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        z-index: 100;
    }
    50% {
        top: -25%;
        left: -25%;
        z-index: 100;
        
    }
    51%{z-index: 1;}
    100%{
        
            top: calc(50% - 10px);
            left: calc(50% - 10px);
            z-index: 1;
        }
}
#previous-card{
    max-width: 1000px;
    min-width: 70vw;
    max-height: 700px;
    height: 70vh;
    background-color: var(--color-nice);
    margin: 0;
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-50%, -50%);
    animation-name: flyout;
    animation-duration: 3s;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
.coup{
    background-color: var(--color-coup);
}
.nice{
    background-color: var(--color-nice);
}
.null{
    background-color: var(--color-null);
}
.chall{
    background-color: var(--color-chall);
}
#card{
    max-width: 1000px;
    min-width: 70vw;
    max-height: 700px;
    height: 70vh;
    margin: 0;
    z-index: 50;
    font-size: var(--card-font-size);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: min(0.5vmin, 10px);
    border-style: solid;
}

.center::-webkit-scrollbar {
    display: none;
  }
#rar {
    position: fixed;
    text-align: right;
    right: 1vw;
    
    font-family: 'Dancing Script', serif;
    font-size: calc( 2 * var(--card-font-size));
    font-weight: normal;
}
#lar {
    position: fixed;
    left: 1vw;
    
    font-family: 'Dancing Script', serif;
    font-size: calc( 2 * var(--card-font-size));
    font-weight: normal;
}
#lar:hover {
    font-weight: bold;
   
}
#rar:hover {
    font-weight: bold;
    
}
#curtain{
    position: fixed;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;

    background-color: #dddddd;
}
.others{
    position: fixed;
    top: calc(100% - 12vmin);
    left: 2%;
    z-index: 5;
    width: 4.5vmin;
    height: 8vmin;
    border-width: 1px;
    border-style: solid;
    filter: saturate(75%);
}
.center {
    font-family: 'Dancing Script', serif;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: min(4vmax, 100px);
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
#legenda{
    font-family: 'Dancing Script', serif;
    font-size: min(2vmax, 100px);
      position: fixed;
      right: 2vw;
      bottom: 2vh;
      opacity: var(--legenda-opacity);
      padding: 1vmin;
      z-index: 200;
      background-color: #cccccc;
      border-style: solid;
      border-width: 3px;
      border-radius: 1vmin;
      list-style-type: none;
}
#legenda:hover{
    
    opacity: 100%;
}
  @keyframes pickout {
    0%{
        top: calc(100% - 15vmin);
        left: 5vmin;
        z-index: 1;
        max-width: 1.5vmin;
        min-width:1.5vmin;
        max-height: 2vmin;
        height: 2vmin;
        font-size: 1px;
        transform: rotate(1000deg);
        border-width: 1px;
    }

    50%{
        top: calc(100% - 60vmin);
        left: 5vmin;
        z-index: 1;
        max-width: 1.5vmin;
        min-width:1.5vmin;
        max-height: 2vmin;
        height: 2vmin;
        font-size: 1px;
        transform: rotate(-70deg);
    }
    100%{
        top: 50%;
        left: 50%;
        max-width: 1000px;
        min-width: 70vw;
        max-height: 700px;
        z-index: 50;
        height: 70vh;
        font-size: var(--card-font-size);
        transform: rotate(0deg);
        transform: translate(-50%, -50%);
        border-width:  min(0.5vmin, 10px);
    }
}
#jar-container{
    position: absolute;
    z-index: 15;
    bottom: 1vmin;
    left: 1vmin;
    overflow: hidden;
}
#jar{
    
    height: 30vmin;
    width: auto;
    z-index: 1000;
    
    
}