html{
    font-size: 100%;
}
body {
    color: #ffffffde;
    background-color: #121212;
    font-size: 4.5em;
    font-family: monospace;            
    text-align: center;
}
#grad1:hover {
    
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

#grad_sq:hover {
    background: conic-gradient(from 0deg at 53% 50%, #ffa500, rgba(25, 209, 19, 1), rgba(44, 219, 211, 1), rgba(205,44,219,1), rgba(250, 163, 5, 1))
}
#grad_clk:hover {
  background: radial-gradient(circle at 50% 50%,rgba(0, 0, 0, 1), rgba(209, 19, 19, 1), rgba(0, 0, 0, 1), rgba(219, 5, 5, 1), rgba(0, 0, 0, 1), rgba(255, 24, 0, 1), rgba(0,0,0,1), rgba(255, 25, 0, 1))
}
button {
  
  background-color: #222222;
  border: 2px solid #101010;

  border-radius: 5px;
  transition-duration: 0.4s;
  color: #ffffffd0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  z-index: 1000;
  opacity: 0.5;
}
button:hover {
  background-color: #cccccc;
  color: rgb(28, 28, 28);
  opacity: 1;

}
    .notifyButton {
        position: fixed;
        right: 5px;
        top: 3px;
        font-size: 2vw; 
    }
    .homeButton {
        position: fixed;
        left: 5px;
        top: 3px;
        font-family: monospace; 
        font-size: 2vw; 
    }
