html{
    font-size: 100%;
}
body {
    color: #ffffffde;
    background-color: #121212;
    font-size: 4.5em;
    font-family: monospace;            
    text-align: center;
}
#grad1:hover {
    
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}
#grad_emoji:hover{
    background: rgb(44,107,12);
    background: linear-gradient(0deg, rgba(44,107,12,1) 24%, rgba(51,51,51,1) 25%, rgba(70,75,70,1) 35%, rgba(35,173,29,1) 36%, rgba(9,213,0,1) 50%, rgb(6, 133, 150) 51%, rgba(0,180,203,1) 100%); 
}
#grad_tl:hover {
    background: rgb(195,122,0);
    background: linear-gradient(180deg,  rgb(201, 14, 120) 0% 25%, rgb(187, 79, 21) 25% 50%, rgb(40, 77, 163) 50% 75%, rgb(141, 16, 16) 75% 100%);
}
#grad_sq:hover {
    background: conic-gradient(from 0deg at 53% 50%, #ffa500, rgba(25, 209, 19, 1), rgba(44, 219, 211, 1), rgba(205,44,219,1), rgba(250, 163, 5, 1))
}
#grad_clk:hover {
  background: radial-gradient(circle at 50% 50%,rgba(0, 0, 0, 1), rgba(209, 19, 19, 1), rgba(0, 0, 0, 1), rgba(219, 5, 5, 1), rgba(0, 0, 0, 1), rgba(255, 24, 0, 1), rgba(0,0,0,1), rgba(255, 25, 0, 1))
}

#grad_rps:hover {
    background:-webkit-radial-gradient(ellipse farthest-side at center center, #c19d00 0%, #ba9c03 24%, #2c2c2c 80%);
    background:-o-radial-gradient(ellipse farthest-side at center center, #c19d00 0%, #ba9c03 24%, #2c2c2c 80%);
    background:-moz-radial-gradient(ellipse farthest-side at center center, #c19d00 0%, #ba9c03 24%, #2c2c2c 80%);
    background:radial-gradient(ellipse farthest-side at center center, #c19d00 0%, #ba9c03 24%, #2c2c2c 80%);
}
button {
  
  background-color: #222222;
  border: 2px solid #101010;

  border-radius: 3vh;
  transition-duration: 0.4s;
  color: #ffffffd0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  z-index: 1000;
  opacity: 0.5;
}
button:hover {
    transition-duration: 0.4s;
  background-color: #cccccc;
  color: rgb(28, 28, 28);
  opacity: 1;

}

#grad_rps{
    padding: 15px 15px;
}

    .notifyButton {
        position: fixed;
        right: 5px;
        top: 3px;
        font-size: 2vw; 
    }
    .homeButton {
        position: fixed;
        left: 5px;
        top: 3px;
        font-family: monospace; 
        font-size: 2vw; 
    }
