html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background: #f0293e;
  color: #fff;
  text-align: center;
}
main {
  background: #ffffff;
  min-height: 80vh;
  flex-grow: 1;
}

.controls {
  position: absolute;
  text-align: center;
  z-index: 1000;
  font-size: 1vw;
  padding: 0.5em 0;
  background: #333e5a;
}

.controls {
  color: #fff;
}
.controls p {
  margin: 0;
}
.controls > div {
  margin-bottom: 0.5em;
}
.controls > div:last-child {
  margin-bottom: 0;
}
#c1{
  object-fit: cover;
  width: 50vw;
}
#c2{
  object-fit: cover;
  width: 50vw;
}
#video {
  z-index: 1;
  position: absolute;
  left: 50vw;

  /* top: 25px; */
  height: 100vh;
  display: block;
  /* margin: 0 auto; */
}
#video2 {
  position: absolute;
  left: 0px;

  height: 100vh;
  /* top: 25px; */
  display: block;
  /* margin: 0 auto; */
}
footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
}
