:root{
    /* COLOR THEME */
    --orange:#ca8832;
    --pink:#af53af;
    --green:#62b362;
    --cyan:#77c9c9;

    /* --background: #121212; */
    --background:#121212;
    --text:#e6e6e6;
}
body {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.clr {
    display: inline;
}
table {
				width: min(100%, 1000px);
                margin-left: auto;
                margin-right: auto;
                font-size: 2vw;
}
td {
				margin: auto;
				text-align: center;
				border: 0.2vh solid var(--text);
				height: 5vh;
}
.beat{
				width:10vw;
}
.beatD{
				width:10vw;
}
.delay{
    width:10vw;
}
#controls {
                position: sticky;
                bottom: 0;
				width: 100vw;
				font-size: 5vh;
				text-align: center;
}
#add{
				
				  display: inline;
				
				background: rgb(55, 55, 55);
}
.rm{
				width:10vw;
}
#sc-widget {
    display: none;
    position:fixed;
    z-index: 2000;
    opacity: 60%;
    right: 0px;
    

}
#sc-widget:hover {
    opacity: 100%;
    width: 30%;
    height: 20%;
    
}
#settings{
    position: absolute;
    z-index: 1000;
    top: calc(50vh - 7vw);
    left: calc(50vw - 7vw);
    width: 14vw;
    height: 14vw;
}
#input-orange{
    position: absolute;
    top: 0px;
    left: 7vw;
    transform: translate(-50%, 0);
}
#input-pink{
    position: absolute;
    top: 7vw;
    transform: translate(0, -50%) rotate(-90deg);
    right: 6.5vw;
}
#input-green{
    position: absolute;
    top: 7vw;
    transform: translate(0, -50%) rotate(-90deg);
    left:6.5vw;
}
#input-cyan{
    position: absolute;

    bottom: 0px;
    left: 7vw;
    transform: translate(-50%, 0);
}
input[type=color] {
    opacity: 0;
    width: 13vw;
    height: 2vw;
}
input[type=number] {
    position: relative;
    width: 50%;
    font-size: 2vw;
    height: 2vw;
}
input[type=text] {
    position: relative;
    width: 10%;
    font-size: 2vw;
    height: 2vw;
}
#score{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: max(10vw, 10vh);
    position: absolute;
    bottom: 2vh;
    z-index: 100;
    width: 100%;
    text-align: center;
}
#LT{
    position: absolute;
    width: 50vw;
    height: 100vh;
    z-index: 500;
    left: 0px;
}
#RT{
    position: absolute;
    width: 50vw;
    height: 100vh;
    z-index: 500;
    right: 0px;
}
body{
    background-color: var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text);
}
.prompt{
    display: none;
    position: absolute;
    top: 0vh;
    padding: 0.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    z-index: 10000;
    background: var(--background);
    

   
}
#wrapper{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    color: var(--text);
}
.down {
    left: 50%;
    top: calc(50vh - 29vw);

    transform: translate(-50%, 0);
}
.left {
    position: absolute;
    left: calc(50vw - 31vw);
    top: 50vh;
    transform: translate(0, -50%) rotate(-90deg);
}
.right {
    
    position: absolute;
    left: calc(50vw + 25vw);
    top: 50vh;
    transform: translate(0, -50%) rotate(90deg);
}
#scale {
    width: 2vw;
}
.arrow {
    position: absolute;
    overflow: hidden;
    width: 0; 
    height: 0;

    border-left: 3vw solid transparent;
    border-right: 3vw solid transparent;
    z-index: 10000;
    border-top: 2vw solid var(--text);
    
    }
.green{
    border-top-color: var(--green);
}
.orange{
    border-top-color: var(--orange);
}
.pink{
    border-top-color: var(--pink);
}
.cyan{
    border-top-color: var(--cyan);
}
#square{
    position: absolute;
    top: calc(50vh - 7vw);
    left: calc(50vw - 7vw);
    z-index: 1000;
    background-color: var(--background);
    width: 10vw;
    height: 10vw;

    border-width: 2vw;
    border-style: solid;
    border-top-color: var(--orange);;
    border-left-color: var(--pink);
    border-right-color: var(--green);
    border-bottom-color: var(--cyan);
    
}
#box {
    position: absolute;
    top: calc(50vh - 5vw);
    left: calc(50vw - 5vw);
    width: 10vw;
    height: 10vw;
    z-index: 1200;

    /* border-width: 2vw; */
}
#title{
    padding: 1%;
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#replay{
    width: 10vw;
    height: 10vw;
    opacity: 0;

    
}
#play_icon{
    position: absolute;
    width: 10vw;
    height: 10vw;
}
#switch{
    position: absolute;
    padding: 2vw;
    left: 2vw;
    bottom: 2vh;
    width: 7vw;
    height: 7vw;
    z-index: 1000;
}
#fullscr{
    padding: 2vw;
    position: absolute;
    right: 2vw;
    bottom: 2vh;
    width: 7vw;
    height: 7vw;
    z-index: 1000;
}
#endless{
    padding: 0.5vw;
    text-align: center;
    position: absolute;
    left: 1vw;
    top: 0.5vh;
    width: 7vw;
    /* height: 7vw; */
    font-size: 7vw;
    z-index: 1000;
    /* background-color: #77c9c9; */
}
img {
    filter: invert(0);
}
@media only screen and (max-aspect-ratio: 1/1){
    .prompt{
        font-size: 2vh;
        width: 100%;
        text-align: center;
        top: 0px;
        height: auto;
        transform: translate(0, 0);
    }
    #switch{
        width: 7vh;
        height: 7vh;
        padding: 2vh;
    }
    #fullscr{
        width: 7vh;
        height: 7vh;
        padding: 2vh;
    }
    #endless{
        width: 7vh;
        /* height: 7vh; */
        padding: 1vh;
        font-size: 7vh;
    }
    .arrow {
        border-left: 3vh solid transparent;
        border-right: 3vh solid transparent;
        z-index: 100;
        border-top-width: 2vh;
    }
    .down{
        top: calc(50vh - 29vh);
    }
    .left {
        left: calc(50vw - 31vh);
    }
    .right {
        left: calc(50vw + 25vh);
    }
    #scale {
        width: 2vh;
    }
    #title{
        width: min(92%, 100vw);
        padding: 4%;
    }
    #square{
        top: calc(50vh - 7vh);
        left: calc(50vw - 7vh);
        width: 10vh;
        height: 10vh;
        border-width: 2vh;
    }
    #box{
        top: calc(50vh - 5vh);
        left: calc(50vw - 5vh);
        width: 10vh;
        height: 10vh;
        border-width: 2vh;

    }
    #replay{
        width: 10vh;
        height: 10vh;
    }
    #play_icon{
        width: 10vh;
        height: 10vh;
    }
    #settings{
        position: absolute;
        z-index: 1000;
        top: calc(50vh - 7vh);
        left: calc(50vw - 7vh);
        width: 14vh;
        height: 14vh;
    }
    #input-orange{
        position: absolute;
        top: 0px;
        left: 7vh;
        transform: translate(-50%, 0);
    }
    #input-pink{
        position: absolute;
        top: 7vh;
        transform: translate(0, -50%) rotate(-90deg);
        right: 6.5vh;
    }
    #input-green{
        position: absolute;
        top: 7vh;
        transform: translate(0, -50%) rotate(-90deg);
        left:6.5vh;
    }
    #input-cyan{
        position: absolute;
    
        bottom: 0px;
        left: 7vh;
        transform: translate(-50%, 0);
    }
    input[type=color] {
        opacity: 0;
        width: 13vh;
        height: 2vh;
    }
    table{
        font-size: 2vh;
    }
    .delay{
        width:10vh;
    }
    input[type=number] {
        font-size: 2vh;
        height: 2vh;
    }
}
