.mirr {
    transform: scale(-1, 1);
}
#player {
    position: absolute;
    z-index: 10;
}
body {
  overflow: hidden; /* Hide scrollbars */
}
img.playerMoji{ width: auto; height: 100%; }
#buttonBox {
    font-family: monospace; 
    position: fixed;
    width: 90vw;
    height: 90vh;
    font-size: 5vh;
    z-index: 5000;
    left: 5vw;
    top: 5vh;
    border: 3px solid #ffffff;
    border-radius: 15px;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
}
.buttonEmoji {
height: 5vh;
width: auto;
}
button:hover {
  background-color: #ffffff;
  color: #000000;
  opacity: 1;

}
button{
background-color: #000000;

border-radius: 5px;
transition-duration: 0.4s;
color: #ffffff;
padding: 10px, 20px;
text-align: center;

display: inline-block;
z-index: 1000;
opacity: 0.8;
font-size: 2vh;

}
#Sun {
    z-index: 3;
    position: fixed;
    width: 15vh;
    height: auto;
    left: 75vw;
    top: 12vh;
    
}
#world {
    width: 100vw;
    height: auto;
    overflow:hidden;
}
#preview {
    position: relative;
    float: left;
    height: 10vh;
    width: auto;
}.previewMoji {
    position: relative;
    top: -5vh;
    float: right;
    height: 60vh;
    width: auto;
}
#ground {
    background: linear-gradient(0deg, rgba(27,126,25,1) 0%, rgba(65,221,8,1) 48%, rgba(0,255,29,1) 100%);
    width: 500vw;
    height: 55vh;
    left: 0px;
    top: 45vh; 
    position: absolute;
    z-index: 1;  
}
#road {
    z-index: 2;
    background-color: darkslategray;
    height: 30vh;
    top: 13vh;
    position: relative;
}
#skybox {
    background-color: lightblue;
    width: 500vw;
    height: 53vh;
    top: 0vh; 
    position: absolute;
    z-index: 0;  
    left: 0px;
}
#dialogBox{
    position: fixed;
    margin-left: 20vw;
    margin-right: auto;
    bottom: 1vh;
    width: 60vw;
    height: 20vh;
    z-index: 1000;
    background: rgba(0,0,0,0.75);
    border-radius: 15px;
    display: inline-block;
    
}
#portrait {
    position: relative;
    height:20vh;
    width: 20vh;
    float: left;
       
}
#textArea {
    position: relative;
    height 20vh;  
    color: #FFFFFF;
    font-family: monospace;
    font-size: 4vh;
}
.portraitEmoji {
    height: 20vh;
    
}
#buildings{
    position: absolute;
    left: 1vw;
    top: -35vh
}
.buildingEmoji{
    position: relative;
    z-index: 15;
    height: 40vh;   
}
#watermark{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    font-family: monospace;
    font-size: 3vh;
    opacity: 0.3;
    padding: 5px;
    border-radius: 6px;
}
#watermark:hover{
    opacity: 1;
    background: #000000;
    color: #ffffff;
    padding: 5px;
    border-radius: 6px;
}